
nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
}

.title{
  align-self: center;
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
 }

 .title-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  /* position: absolute;
  right: 90%; */
  position: relative;
 }

 nav i {
  color: red;
 }

 #toggle-btn {
  padding: 10px;
 }

 #toggle-btn:hover {
  cursor: pointer;
 }

 #angle-move {
  align-self: center;
  position: absolute;
  top: 70px;
  animation: jumpInfinite 2s infinite;
 }
 

 @keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}