nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
}

.title{
  align-self: center;
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
 }

 .title-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
 }

 nav i {
  color: red;
 }

 #toggle-btn {
  padding: 10px;
 }

 #toggle-btn:hover {
  cursor: pointer;
 }

 #angle-move {
  align-self: center;
  position: absolute;
  top: 70px;
  animation: jumpInfinite 1.5s infinite;
 }
 

 @keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav, #toggle-btn {
    background-color: #de9f00;
    background-image: url(http://www.transparenttextures.com/patterns/arches.png);
  }

}